body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
    color: #0e2436;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.container {
   display: flex;
    flex-direction: column;
    width: 100%;
}

.student-card {
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
}

.student-card:not(:last-child) {
    margin-bottom: 8px;
}

.student-card span {
    font-weight: bold;
    margin-right: 4px;
}

.student-card.green {
    border-color: #448644;
}

.student-card.red {
    border-color: #c72909;
}

.student-card.active {
    background-color: gray;
}